body {
    background: radial-gradient(circle at 0.4% -0.6%, rgb(143, 170, 210) 0%, rgb(255, 177, 177) 90%);
    background-size: contain;
    margin: auto;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 800px;
        align-items: center;
            justify-content: center;
}

.main-body{
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    width: 700px;
    padding-left: 40px
}

#searchContainer {
    margin: 0;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.dayOfWeek {
background: radial-gradient(rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 9px 9px 14px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 100px;
        display: block;
        padding-top: 30px;
            text-align: center;
            margin-left: 15px;
            margin-right: auto;
}

.icon-cog{
    color: white;
}

.row{
padding: 75px;
}

.container {
    background: radial-gradient(rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 9px 9px 14px rgba(0, 0, 0, 0.2);
    /* border: 2px solid rgba(36, 159, 236, 0.6); */
    border-radius: 80px;
    /* box-shadow: 0px 27px 21px rgba(0, 0, 0, 0.4); */
    margin-top: 50px;
    margin-right: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 60px;
    width: 500px;
    display: block;
        align-items: center;
            justify-content: center;
}

h1 {
    color: cornflowerblue;
    font-size: 34px;
    line-height: 48px;
    margin: 0;
}