.daylight {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.evening {
    background: radial-gradient(circle at 0.4% -0.6%, rgb(143, 170, 210) 0%, rgb(255, 177, 177) 90%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.night {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    display: block;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.main-body{
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    padding:20px;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 20 auto;
    position: absolute;

}

#searchContainer {
    margin: 0 auto;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-bottom: 50px;
}

#todays-forecast {
    padding-bottom: 0;
    padding-top: 25px;
    text-align: center;
}



ul{
    padding: 0px;
    margin: 0;
}

li{
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1.5;
}

.dayOfWeek {
    background: radial-gradient(rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 9px 9px 14px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 100px;
    display: block;
    padding-top: 30px;
    text-align: center;
    margin-left: 15px;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;

}

.icon-cog{
    color: white;
}

.row{
padding: 75px;
}

.container {
    background: radial-gradient(rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 9px 9px 14px rgba(0, 0, 0, 0.2);
    /* border: 2px solid rgba(36, 159, 236, 0.6); */
    border-radius: 80px;
    /* box-shadow: 0px 27px 21px rgba(0, 0, 0, 0.4); */
    padding-top: 75px;
    padding-bottom: 75px;
    display: block;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 34px;
    line-height: 48px;
    margin: 0;
}

#temperature {
    font-weight: 700px;
    font-size: 70px;
    line-height: 28px;
    text-align: center;
}