@font-face {
    font-family: OPTIAmadeus;
    src: local("OPTIAmadeus"), local("OPTIAmadeus"),
        url(./OPTIAmadeus-solid.otf);
}

body {
    display: block;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background: url("./images/trees-highway.mp4") no-repeat;
    background-size: cover;
    font-family: OPTIAmadeus;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#main-body{
    margin-bottom: 50px;
    padding: 20 auto;
    display: block;
    margin-top: 50px;
}

#searchContainer {
    margin: 0 auto;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300px;
    font-size: 30px;
}

#todays-forecast {
    padding-bottom: 0;
    padding-top: 25px;
    text-align: center;
}

.d-flex{
    padding-left: 30px;
}

ul{
    padding: 0px;
    margin: 0;
}

li{
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

.dayOfWeek {
    background: radial-gradient(rgba(255,
                    182,
                    182, 0.8) 0%,
                rgba(255,
                    214,
                    171, 0.8) 100%);
    box-shadow: 9px 9px 14px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 100px;
    display: block;
    padding-top: 30px;
    text-align: center;
    margin-left: 15px;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}

.icon-cog{
    color: white;
}

.row{
padding: 75px;
}

.container {
    background: radial-gradient(rgba(255,
        182,
        182, 0.8) 0%,
                rgba(255,
                    214,
                    171, 0.8) 100%);
    box-shadow: 9px 9px 64px rgba(0, 0, 0, 0.4);
    /* border: 2px solid rgba(36, 159, 236, 0.6); */
    border-radius: 80px;
    /* box-shadow: 0px 27px 21px rgba(0, 0, 0, 0.4); */
    padding-top: 75px;
    padding-bottom: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: OPTIAmadeus;
}

#top-header{
    font-weight: 300px;
    font-size: 80px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.day {
    font-weight: 200px;
    font-size: 36px;
}

p, h5, ul, li {
    font-weight: 200px;
    font-size: 36px;
}

#city-header {
    font-weight: 300px;
    font-size: 80px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 20px auto;
}

#temperature {
    font-weight: 700px;
    font-size: 100px;
    line-height: 28px;
    text-align: center;
}

.units {
        font-weight: 200px;
            font-size: 36px;
}

/* #temp-column {
    justify-content: flex-end;
} */

#open-source {
    font-weight: 200px;
    font-size: 20px;
    color: white;
    text-align: center;
}